<script type="module" src="/js/sidebar.js"></script>

<!--LEFT-SIDEBAR-->
<div class="left-fix-con">
  <div class="left-side-con">
    <div class="left-nav-con">
      <ul>
        <li id="nav-account">
          <a href="/"
          ><span><i class="fa-solid fa-user"></i></span
          ><span>Mon compte</span></a
          >
        </li>
        <li id="nav-subscribers">
          <a href="subscriptions.html"
          ><span><i class="fa-regular fa-rectangle-list"></i></span
          ><span>Liste des souscriptions</span></a
          >
        </li>
        <li id="nav-payments">
          <a href="payments.html"
          ><span><i class="fa-solid fa-money-bill-1-wave"></i></span
          ><span>Suivi des paiements</span></a
          >
        </li>
        <!-- <li> -->
        <!-- <a href="#"><span><i class="fa-solid fa-globe"></i></span><span>Souscriptions en ligne</span></a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!-- <a href="#"><span><i class="fa-solid fa-cubes"></i></span><span>Wenova Asset Management</span></a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!-- <a href="#"><span><i class="fa-solid fa-book"></i></span><span>Documentation des fonds</span></a> -->
        <!-- </li> -->
        <li id="disconnect">
          <a href="#"
          ><span><i class="fa-solid fa-right-from-bracket"></i></span
          ><span>Déconnecter</span></a
          >
        </li>
      </ul>
    </div>
    <div class="HeaderSearchOuter mobile-view1" style="display: none;">
      <button>
        <img src="images/img_search.svg" alt="Seacrch Icon" />
      </button>
      <input type="text" placeholder="Search..." />
    </div>
  </div>
</div>
<!--LEFT-SIDEBAR-END-->
