body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
* {
	box-sizing:border-box;
	transition: all 0.3s ease-out;
}
ul 
{
	list-style:none;
	margin:0;
	padding:0
}
a {text-decoration: none;}
img {max-width: 100%;align-self: center;}

input, select, textarea {outline: none;}

p {color: #73738d;font-size: 14px;line-height: 18px;margin: 10px 0 0;}

form {display: inline-block;width: 100%;}

.fl-wf {float: left;width: 100%;}
.flex {display: flex;flex-wrap: wrap;align-items: center;}

.title30 {
	color: #23233d;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
}

/*Login Start*/
.cont-login-page {height: 100vh;background: #f4f4f4;justify-content: center;}
.cont-login-logo {margin: 0 0 30px;padding: 0 15px;text-align: center;}
.cont-login-logo img {max-width: 270px;}

.cont-login-middle {display: inline-block;width: 450px;max-width: 100%;padding: 30px 15px;}
.cont-login-form {display: inline-block;width: 100%;padding: 30px;background: #fff;box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);border-radius: 6px;}
.cont-login-form form {float: left;width: 100%;}
.otr-form-field {float: left;width: 100%;margin: 10px 0;padding: 0 10px;}
.otr-form-field label {float: left;width: auto;color: #23233d;font-size: 16px;line-height: 22px;font-weight: 500;margin: 0 0 5px;}
.password-forgot {float: right;}
.password-forgot a {float: left;color: #01ec98;font-size: 15px;line-height: 22px;font-weight: 400;}
.password-forgot a:hover {color: #23233d;}
.form-field-inn {float: left;width: 100%;position: relative;}
.form-field-inn input {float: left;width: 100%;background: #FFFFFF;border: 1px solid #E4E4E1;color: #23233d;font-size: 16px;line-height: 22px;font-weight: 400;padding: 10px 10px 10px 50px;border-radius: 3px;}
.input-group-icon {position: absolute;z-index: 1;left: 0;top: 0;width: 40px;height: 100%;background: #E4E4E1;display: flex;flex-wrap: wrap;justify-content: center;align-content: center;color: #23233d;font-size: 16px;border-radius: 2px 0 0 2px;	}
.otr-button-field {float: left;width: 100%;margin: 20px 0 10px;text-align: center;}
.otr-button-field input {display: inline-block;width: auto;background: #23233d;border: 1px solid #23233d;color: #fff;font-size: 16px;line-height: 20px;padding: 10px 20px;border-radius: 3px;font-weight: 500;text-transform: uppercase;}
.otr-button-field input:hover {color: #fff;background: #01ec98;border-color: #01ec98;}
.cont-signup {display: inline-block;width: 100%;text-align: center;color: #23233d;font-size: 14px;line-height: 18px;margin: 15px 0 10px;}
.cont-signup a {color: #01ec98;font-size: 15px;line-height: 22px;font-weight: 400;}
.cont-signup a:hover {color: #23233d;}
/*Login End*/

/*Forgot Password Start*/
.cont-login-form h1 , .cont-login-form h2{color: #23233d;text-align: center;font-size: 24px;line-height: 30px;font-weight: 500;}

.cont-code-form {padding-top: 0;}
.cont-code-form .input-group-icon {font-size: 8px;}
/*Forgot Password End*/

/*Account Start*/
.cont-account-page .cont-login-middle {width: 800px;}

.half-field {width: 50%;}
/*Account End*/

/*Header Start*/
.main-container {width: 100%;float: left;display: flex;}
header {height: 75px;display: flex;display: -webkit-flex;align-items: center;position: fixed;z-index: 999;width: 100%;background: #fff;}
.headerleftOuter {
	display: flex;
	display: -webkit-flex;
	align-content: center;
	height: 100%;
	background: #23233d;
	border-bottom: 0px solid rgba(234, 196, 10, 0.67);
}
.logo-con {
	float: left;
	width: 300px;
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0px;
	text-align: center;
	padding-right: 10px;
}
.logo-con img {
	width: 200px;
}
.headerRightOuter {
	float: left;
	width: calc(100% - 300px);
	padding: 0 40px 0 40px;
	height: 100%;
	display: flex;
	align-items: center;
	-webkit-box-shadow: unset;
	box-shadow: unset;
	border-bottom: 1px solid #f2f2f2;
}
.HeaderleftInner {float: left;width: 320px;}
.Dashboard-title {float: left;width: 100%;}
.Dashboard-title h1 {color: #23233d;font-size: 24px;line-height: 30px;font-weight: 500;margin: 0;}
/*.HeaderSearchOuter {
	float: left;
	width: 200px;
	padding-left: 0;
	display: flex;
}
.HeaderSearchOuter button {
	padding-left: 0;
	cursor: pointer;
	background: transparent;
	border: none;
	width: 30px;
}
.HeaderSearchOuter input {
	width: calc(100% - 30px);
	color: #23233d;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	background: transparent;
	border: none;
}*/
.HeaderRightInner {
	float: left;
	width: calc(100% - 320px);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}
.HeaderRightInner-grid {
	height: 100%;
	margin: 0 0 0 25px;
	padding: 0 0 0 25px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.HeaderRightInner-grid::before {content: "";position: absolute;left: 0;top: 50%;width: 1px;height: 30px;background: #d5d5d5;transform: translate(0, -50%);}
.NotificationCon {
	width: auto;
	position: relative;
}
.NotificationCon a {
	position: relative;
}
.NotificationCon a .fa-bell {
	color: #23233d;
	font-size: 20px;
}
.NotificationCon a:hover .fa-bell {
	color: #01ec98;
}
.NotificationCon a span {
	position: absolute;
	top: -5px;
	right: 0;
	background: #FF5C5C;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
ul.NotificationDropdownCon::before, .Invoicedropdown li a::before {
	content: "";
	position: absolute;
	left: 19px;
	top: -10px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #ddd;
}
ul.NotificationDropdownCon::before, .Invoicedropdown li a::before {
	content: "";
	position: absolute;
	left: 19px;
	top: -10px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #ddd;
}
.NotificationDropdownCon li a {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	color: #6E6E6E;
	padding: 9px 20px 9px 30px;
	float: left;
	position: relative;
}
.NotificationDropdownCon li a::before {
	content: "";
	position: absolute;
	left: 10px;
	top: 15px;
	width: 8px;
	height: 8px;
	background: #d2d2d2;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.NotificationDropdownCon li:last-child {
	float: left;
	width: 100%;
	border-top: 1px solid rgba(119, 119, 119, 0.25);
}
.NotificationCon a::after {
	display: none;
}
.NotificationDropdownCon li:last-child a::before {
	display: none;
}
.NotificationDropdownCon li:last-child a, .NotificationDropdownCon li:last-child a:hover {
	text-decoration: underline;
}
.NotificationDropdownCon li a:hover::before {
	background: #f9cf00;
}
.dropdown-menu.NotificationDropdownCon.show {
	margin-top: 30px !important;
	left: -17px !important;
}
.dropdown-menu.NotificationDropdownCon.show {
	margin-top: 30px !important;
	left: -17px !important;
}
.NotificationDropdownCon li a .SubText {
	float: left;
	width: 100%;
	font-weight: 300;
	font-size: 12px;
	color: #6E6E6E;
	line-height: 20px;
}

.profilePicOuter {
	float: right;
	max-width: 200px;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	color: #32353A;
	position: relative;
}
.profilePicOuter a {
	color: #32353A;
	width: 100%;
	position: relative;
	z-index: 9;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	text-decoration: none;
}
.profile-pic {
	float: left;
	width: 46px;
	height: 46px;
	margin-right: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
}
.profile-pic img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.profilePicOuter a span {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #828282;
}
.profilePicOuter a span strong {
	display: block;
	color: #304351;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}
.profilePicOuter .dropdown-toggle::after {display: none;}
.dropdown-toggle::after {margin-left: 0.455em;border-top: .4em solid #a5a5a5;border-right: .4em solid transparent;border-left: .4em solid transparent;
}

.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 10rem;
	padding: .5rem 0;
	margin: 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
}
.profilePicOuter ul, ul.NotificationDropdownCon { padding: 0; margin: 0; list-style: none;}
.profilePicOuter .dropdown-menu li a {
	font-size: 14px;
	font-weight: 400;
	color: #6E6E6E;
	line-height: 26px;
	border-bottom: 1px solid #e6e6e6;
}
.profilePicOuter .dropdown-menu li a:hover, .NotificationDropdownCon li a:hover {
	background:#FFEED4 !important;
	color:#6E6E6E;
}
.profilePicOuter .dropdown-menu li a:last-child, .NotificationDropdownCon li a:last-child {
	border: none;
	border-radius:0 0 .25rem .25rem;
}
.profilePicOuter .dropdown-menu li a:first-child, .NotificationDropdownCon li a:first-child {
	border: none;
	border-radius: .25rem .25rem 0 0;
}
/*Header End*/

/*left nav*/
.left-fix-con {
	float: left;
	width: 300px;
	background: #23233d;
	height: 100vh;
	padding-top: 90px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 75px 20px 30px 20px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.left-side-con {
	width: 100%;
	height: 100vh;
	float: left;
	background: transparent;
	position: relative;
	z-index: 9;
}
.left-nav-con {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.left-nav-con li {
	position: relative;
	width: 100%;
	float: left;
}
.left-nav-con li a {
	width: 100%;
	float: left;
	padding: 15px 15px;
	text-decoration: none;
	display: table;
	margin-bottom: 5px;
	color: #fff;
	background: transparent;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	font-family: 'Anek Devanagari', sans-serif;
	opacity: 1;
	border: 1px solid transparent;
}
.left-nav-con li a:hover, .left-nav-con li.active a {
	background: #01ec98;
	border: 1px solid #01ec98;
	border-radius: 3px;
	color: #334553;
	/* font-weight: 600; */
}
.left-nav-con li a span:first-child {
	width: 20px;
	height: 25px;
	text-align: center;
	margin-right: 10px;
	line-height: 30px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.left-nav-con li a span img {
	display: inline-block;
	filter: grayscale(100) brightness(20) opacity(1);
}
.left-nav-con li a:hover img, .left-nav-con li.active a img {
	filter: unset;
	opacity: 1;
}
.left-nav-con li a span:last-child {
	padding-top: 0 !important;
	height: 25px;
	line-height: 25px;
	float: left;
}
.left-nav-con li a span:first-child .fa-right-from-bracket {
	transform: rotate(-180deg);
}

/*left nav end*/

/*Dashboard Start*/
.dashboardContentOuterPanel {float: left;width: 100%;height: 100vh;padding-top: 75px;background: #fff;position: relative;}

.right-side-con {
	float: right;
	width: calc(100% - 300px);
	height: 100%;
	background: #f5f5f5;
	padding: 45px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	position: relative;
}

.dashboard-head {margin: 0 0 40px;}
.dashboard-head-left {width: 50%;padding: 0 20px 0 0px;}
.dashboard-head-right {width: 50%;padding: 0 0 0 20px;}
.cont-total-income {float: right;}
.cont-income-info {float: left;width: auto;margin: 0 0 0 25px;color: #23233d;font-size: 15px;line-height: 20px;font-weight: 600;}
.cont-income-info i {font-size: 18px;margin: 0 8px 0 0;}
.cont-income-info .fa-hand-holding-dollar {font-size: 20px;margin-top: -2px;}

.dashboard-body {
	padding: 30px;
	background: #fff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	margin-bottom: 30px;
}

.cont-form-tabs {display: inline-block;}
.cont-form-tabs nav {float: left;width: 100%;}
.cont-form-tabs .nav {float: left;width: auto;background: transparent;border-radius: 5px;}
.cont-form-tabs .nav button {float: left;width: 160px;border: none;background: #f5f5f5;color: #8493A3;font-size: 18px;line-height: 20px;padding: 18px 25px;margin: 0 10px 0 0;font-weight: 700;display: flex;flex-wrap: wrap;align-content: center;justify-content: center;border-radius: 5px;position: relative;}
.cont-form-tabs .nav button::after {visibility: hidden;content: "";position: absolute;z-index: 6;left: 50%;top: 100%;transform: translate(-50%, 0);border-top: 10px solid #23233d;border-left: 9px solid transparent;border-right: 9px solid transparent;}

.cont-form-tabs .nav button.active, .cont-form-tabs .nav button:hover {color: #fff;background: #23233d;}
.cont-form-tabs .nav button.active img {filter: brightness(0) invert(1);}
.cont-form-tabs .nav button.active::after {visibility: visible;}

.cont-form-tabs .tab-content {
	display: inline-block;
	width: 100%;
	padding: 40px 15px;
	background: #fff;
	border-radius: 10px 10px 0 0;
	margin: 10px 0 0;
	background: #f5f5f5;
}
.settings-pic-content {float: left;width: calc(100% - 84px);padding: 0 0 0 20px;}
.settings-pic-content h3 {color: #37495B;font-size: 18px;line-height: 22px;font-weight: 500;}
.settings-pic-content p {color: #8493A3;font-size: 16px;line-height: 20px;font-weight: 500;margin: 2px 0 0;}

.cont-settings-form .CreateFormCon {padding: 0 15px 15px;}

.CreateProjectInner label { float:left; width:100%; font-size: 16px;line-height: 22px;color: #8493A3;margin: 0 0 5px;font-weight: 500;}
.CreateProjectInner input, .CreateProjectInner textarea, .CreateProjectInner select { float:left; width:100%;border: 1px solid #D5DADF;font-size: 16px; line-height: 24px;	color: #37495B;font-weight: 400;padding: 12px 15px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.CreateProjectInner select {appearance:none; -moz-appearance:none; -webkit-appearance:none; background: url(../images/img_arrow_down.png) right 28px top 28px no-repeat; }
.CreateProjectInner textarea {resize: none;height: 250px;}
.cont-settings-form .CreateFormButton {padding: 20px 15px 0;}
.CreateProjectInner .SaveCreateButton {
	display: inline-block;
	width: auto;
	height: auto;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	background: #23233d;
	padding: 15px 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: none;
}
.CreateProjectInner .SaveCreateButton:hover {color: #23233d;background: #01ec98;}

.list-subscribers-main {font-size: 0px;}
.list-subscribers-main .dataTables_wrapper {font-size: 16px;}
.list-subscribers-main tr th {
	color: #fff;
	background: #23233d;
	padding: 20px 15px;
}
.list-subscribers-main table.dataTable thead > tr > th.sorting::after, .list-subscribers-main table.dataTable thead > tr > th.sorting_asc::before {
	color: #01ec98;
}
.list-subscribers-main tr td {
	font-size: 15px;
	padding: 15px;
	border-color: #00000030;
	color: #23233d;
}
.list-subscribers-main tr td a
{
	color: #23233d;
}
.list-subscribers-main tr td a:hover {
	color: #039561;
	text-decoration: underline;
}

.list-subscribers-main .dataTables_paginate a {
	display: inline-block;
	border: 1px solid #D5DADF;
	font-size: 14px;
	line-height: 18px;
	color: #37495B;
	padding: 10px 20px;
	border-radius: 6px;
	margin: 0 0 0 10px;
	cursor: pointer;
}
.list-subscribers-main .dataTables_paginate a:hover
{
	background:#01ec98;
	color:#334553;
	border-color:#01ec98;
}
.list-subscribers-main .table {
	border: 1px solid #23233d5e;
	border-bottom: 0px;
	margin-top: 20px !important;
}
.list-subscribers-main #example_info {
	font-size: 14px;
	display: inline-block;
	color: #23233d;
}
.list-subscribers-main #example_paginate {
	display: inline-block;
	float: right;
}
.list-subscribers-main #example_length label, .list-subscribers-main .dataTables_filter {
	font-size: 15px;
	color: #23233d;
	text-transform: capitalize;
}
.list-subscribers-main #example_length label select {
	background: #fff;
	border: 1px solid #D5DADF;
	font-size: 16px;
	line-height: 24px;
	color: #37495B;
	font-weight: 400;
	padding: 6px 25px 6px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../images/select-arrow.svg);
	background-position: 87% center;
	background-repeat: no-repeat;
	background-size: 10px;
}
.list-subscribers-main #example_length {
	display: inline-block;
}
.list-subscribers-main #example_filter {
	display: inline-block;
	float: right;
}
.list-subscribers-main .dataTables_filter input {
	background: #fff;
	border: 1px solid #D5DADF;
	font-size: 16px;
	line-height: 24px;
	color: #37495B;
	font-weight: 400;
	padding: 6px 25px 6px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 3px;
}
.list-subscribers-main .list-subscribers-main table.dataTable thead > tr > th.sorting::after {
	color: #ffffff2e !important;
	opacity: 1;
}
.list-subscribers-main tr th:first-child, .list-subscribers-main tr td:first-child {
	padding-left: 40px;
}

.list-subscribers-main table.dataTable.table-striped > tbody > tr.odd > * {
	box-shadow: unset;
}

.list-subscribers-main table.dataTable.table-striped > tbody > tr:hover > * {
	box-shadow: inset 0 0 0 9999px #f5f5f5;
}
.dashboardSubscribers-head {
	margin-bottom: 50px;
}
.fl-wf.dashboardSubscribers-row {
	display: flex;
	margin-top: 20px;
	align-items: center;
}
.dashboardSubscribers-left {
	display: inline-block;
	max-width: 500px;
	width: 100%;
}
.dashboardSubscribers-left select {
	background: #fff;
	border: 1px solid #D5DADF;
	font-size: 16px;
	line-height: 24px;
	color: #37495B;
	font-weight: 400;
	padding: 6px 45px 6px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0;
	height: 45px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../images/select-arrow.svg);
	background-position: 93% center;
	background-repeat: no-repeat;
	background-size: 10px;
}
.dashboardSubscribers-right {
	display: inline-block;
	width: auto;
	margin-left: 40px;
}
.dashboardSubscribers-right strong {
	color: #23233d;
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
	margin: 0 0 0 30px;
}
.fl-wf.dashboard-head-left.DBaccount-head1 h4 {
	color: #8493A3;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.DBheader-nav {
	display: inline-block;
	margin-right: 0px;
}
.DBheader-nav ul {
	list-style: none;
	margin: 0;
	display: inline-flex;
}
.DBheader-nav ul li {
	display: inline-block;
}
.DBheader-nav ul li a {
	display: inline-block;
	font-size: 13px;
	color: #717171;
	font-size: 14px;
	line-height: 15px;
	padding: 0 15px;
}
.DBheader-nav ul li a:hover {
	color: #01ec98;
	text-decoration:underline;
}

/*Dashboard End*/


















