$fa-font-path: "~fontawesome/webfonts";

@import "~bootstrap/scss/bootstrap";
@import "~fontawesome/scss/fontawesome.scss";
@import "~fontawesome/scss/regular.scss";
@import "~fontawesome/scss/solid.scss";


$notie-color-error: #db4a2d;
$notie-color-info: #23233d;

@import "~notie/notie";

body {
  overflow-x: hidden !important;
}
