$fa-font-path: "~fontawesome/webfonts";

$primary: #23233d;
$danger: #db4a2d;
$success: #01ec98;

@import "~bootstrap/scss/bootstrap";
@import "~fontawesome/scss/fontawesome.scss";
@import "~fontawesome/scss/regular.scss";
@import "~fontawesome/scss/solid.scss";


$notie-color-error: $danger;
$notie-color-info: $primary;

@import "~notie/notie";

body {
  overflow-x: hidden !important;
}

input[type='password'] {
  font-family: Verdana, sans-serif;
  letter-spacing: 0.125em;
}
